@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="preface"]{
	margin-top: 4em;
}

[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin: auto;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
	max-width: 75%;
}
